.footer {
    background-color: red;
    padding: 30px;
    padding-left: 250px;
    color: #808080;
    /* position: relative; */
    /* overflow: hidden; */
    width: 100%;
}

.about-nqg {
    margin-top: 5px;
    margin-left: 60px;
    font-size: 20px;
    min-width: 900px;
}

.about-nqg > p {
    margin-top: 0px;
}

.title {
    min-width: 900px;
    font-size: 70px;
    color: white;
    position: relative;
}

.developers {
    min-width: 900px;
    display: flex;
    position: absolute;
    margin-left: 60px;
    bottom: 5px;
}

.developers > a {
    display: block;
    margin: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.developers > a:hover {
    color: #55BCC4;
}

