.footer {
    background-color: #141414;
    width: 100%;
    padding: 30px;
    padding-left: 250px;
    color: #808080;
    bottom: 0;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 99; */
}

.footer__title {
    min-width: 900px;
    font-size: 70px;
    color: white;
    position: relative;
}

.footer__contact {
    display: flex;
    width: 100%;
    font-size: 40px;
    line-height: 38px;
    /* background-color: aqua; */
}

.footer__contact a {
    color: #808080;
    margin-right: 10px;
}

.footer__contact a .fa-angellist {
    font-size: 36px;
}

.footer__developer h3{
    /* background-color: beige; */
    margin: 15px 0 0 0;
}

.footer__developer-email {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    text-decoration: none;
    transition: 0.4s;
}

.footer__developer-email:hover {
    color: white;
    text-decoration: underline;
}
