.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding-right: 50px;
    padding-left: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    /* -moz-box-shadow:    0 5px 10px 0px #000000;
    -webkit-box-shadow: 0 5px 10px 0px #000000;
    box-shadow:         0 5px 10px 0px #000000;   */
    /* background-color: transparent; */
    
}

.home-link__container {
    height: 30px;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    /* background-color: blanchedalmond; */
}   

.logo {
    height: 30px;
    -webkit-filter: brightness(100);
}

.home-link {
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
    background: -webkit-linear-gradient(90deg, #ed0202 0%, #a50303 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-link:hover {
    color: white;
}

.user-buttons {
    display: flex;
    /* justify-content: center; */
}


.user-buttons > a {
    margin: 5px;
}

.nav-button {
    /* background-color:#E561B3; */
    color: black;
}

.nav-button:hover {
    color: white;
}
