.profilepage {
    width: 100%;
    margin-top: 60px;
    min-height: 100vh;
}

.profilepage-header {
      padding: 30px 100px;
      display: flex;
      border-bottom: solid 1px #808080;
      /* background-color: red; */
      /* color: black; */
}

.profilepage__header-container {
    width: 100%;
    display: flex;
}

.profilepage-title {
    font-size: 1.5vw;
    /* font-size: 22px; */
}

.profilepage-email {
    font-size: 1.5vw;
    /* font-size: 22px; */
}

.profilepage-image {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    object-fit: cover;
    border-radius: 3px;
}

.fa-user-circle {
    font-size: 5vw;
}

.profilepage-info {
    padding: 0 0 0 15px;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

.profilepage-info span {
    font-weight: normal;
    color: #828282;
}

.profilepage-content {
    width: 100%;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 4%;
}

.profilepage h2 {
    font-size: 20px;
    color: white;
    margin: 20px 0 0 100px; 
    /* background-color: red; */
}

.profilepage-lyrics {
    padding: 5px;
    flex: 0 0 50%;
    position: relative;
}

.profilepage-sidebar {
    display: flex;
    padding: 5px;
    flex: 0 0 50%;
}


.search_result__poster .card-options {
    background: rgb(27, 27, 27, 0.6);
    width: 100%;
    height: 16%;
    font-size: 1vw;
    position: absolute;
    bottom: 0;
    padding: 5.5% 4%;
    display: none;
    /* top:40%; */
}

/* .search_result__poster .play {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 1.5vw;
    display: none;
} */

.card-options .fa-check-circle {
    font-size: 1.6vw;
    line-height: 1.3vw;
}



