.search-container {
  width: 25%;
  height: 30px;
  background-color: #888;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: 2%; */
}

.search-bar {
  /* width: 85%; */
  height: 30px;
  text-align: center;
  margin: 0;
  flex-grow: 1;
  border-radius: 3px 0 0 3px;

}

/* .search-bar:focus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */

.search-button {
  margin-left: 0;
  border-radius: 0 3px 3px 0;
  font-size: 12px;
  border: none;
  padding: 0 10px;
  height: 30px;
  background-color: white;
}

/* .search-button:hover {
  color: inherit;
  cursor: default;
} */

/* .search-bar:focus ~ .search-button {
  color: black;
} */

/* .search-bar:focus ~ .search-button:hover {
  color: white;
  cursor: pointer;
} */

#search-results {
  display: none; /* default state */
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  color: black;
  padding: 10px 10px 80px;
}


