/* TODO Add site wide styles */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap'); */
* {
    box-sizing: border-box;
}

/* #root {
    min-width: 360px;
    max-width: 100%;
} */

main {
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    
}

html {
    padding: 0px;
    scroll-behavior: smooth;
    background-color: black;
}

.form-page {
    display: flex;

}

input:focus {
    border: none;
}

input:focus {
    border: none;
    outline: none;
}
input {
    border: none;
    outline: none;
    border-radius: 2px;
}

textarea {
    border-radius: 2px;
    border: none;
    outline: none;
}
textarea:focus {
    border: none;
    outline: none;
}

/* textarea::placeholder {
    color:white;
} */

button {
    cursor: pointer;
}

.form-errors__container {
    margin-bottom: 15px;
}

.form-errors {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

