.search-result__container {
    width: 100%;
    min-height: 100vh;
    /* margin-top: 60px; */
    padding: 0 50px ;
    margin: 100px 0 40px 0;
    color: white;
}

.search-result__container h1 {
    margin: 0 0 20px 0;    
}

.search_result {
    width: 100%;
    /* height: auto; */
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 4%;
    /* background-color: brown; */
}

.search_result__card-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    color: white;
    /* background-color: #2b2a2a; */
}

.search_result__poster {
    width: 100%;
    padding-top: 149%;
    background-repeat:   no-repeat;
    background-size: contain;                    
}

.search_result__title-container {
    padding-top: 5px;
    text-align: center;
    margin-top: -1px;
}

.search_result__movie-title {
    /* font-size: 19px; */
    font-size: 0.8vw;
    line-height: 1vw;
    font-weight: 500;
    /* word-spacing: 100vw; */
    /* text-align: center; */
}

.search_result__movie-link {
    text-decoration: none;
}