.form-container {
    padding: 40px 40px 60px 40px;
    background: rgb(27, 27, 27, 0.7);
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
/* .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 40vw;
    height: auto;
    background-color: rgba(255,255,255,.4);
    border-radius: 2px;
} */

/* .form-input {
    margin-bottom: 10px;
    font-size: 20px;
} */

input {
    padding-left: 7px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

button.signup{
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #E50914;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding: 7px 0;
    /* width: 90px;
    height: 30px; */
}

button.signup:hover {
    border: 2px solid white;
}

button:focus {
    outline: none;
}

button:hover {
}

.form-input-file {
    margin: 10px;
    width: 250px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    position: relative;
}

label {
    font-size: 30px;
}

/*********** SIGN IN  ***********/
.form-container .login-header {
    /* align-self: flex-end; */
    text-align: start;
    font-size: 35px;
}

.login-signup-now {
    font-size: 17px;
    display: flex;
    color: #717171;
    margin-top: 20px;
}

button.login {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #E50914;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding: 7px 0;
}

button.login:hover {
    border: 2px solid white;
}

button.signup-now {
    border: none;
    font-size: 17px;
    color:white;
    background-color: transparent;
}

button.signup-now:hover {
    text-decoration: underline;
}