.signup-page__container {
    width: 100%;
    color: white;
    position: absolute;
    z-index: 9;
    padding: 0 50px 50px 50px;
    -moz-box-shadow:    inset 0 200px 220px #000000;
    -webkit-box-shadow: inset 0 200px 220px #000000;
    box-shadow:         inset 0 200px 220px #000000;
    /* background-color: white; */
}

.signup__bg-container {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}

.color-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    z-index: 5;
}

.signup__top-row {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
}

.signup__logo-container {
    width: 100%;
    color: #E50914;
    display: flex;
    font-size: 3vw;
    line-height: 2vw;
    letter-spacing: -2px;
    font-weight: 600;
    align-items: center;
}

.signup__logo {
    width: 55px;
    object-fit: contain;
    margin: 0 0;
    -webkit-filter: brightness(100);
    /* background-color: #E50914; */
}

button.signin {
    border: none;
    border-radius: 3px;
    background-color: #E50914;
    font-size: 1rem;
    color: white;
    width: 90px;
    height: 30px;
}

button.signin:hover {
    border: 2px solid white;
}

.signup__mid-content {
    width: 100%;
    text-align: center;
    padding: 0 30%;
    /* margin-top: 110px; */
    margin-top: 5%;
}

.signup__mid-content h1 {
    font-size: 50px;
    line-height: normal;
}

.signup__mid-content h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}