.movie-page__container {
    /* width: 100%; */
    width: 1192px;
    /* min-width: 500px; */
    background-color: brown;
    color: white;
    margin: 0 auto;
    /* padding: 0 9%; */
}

.movie-page__top-container {
    width: 100%;
    height: 500px;
    background-color: bisque;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    /* justify-content: center; */
}

.movie-page__poster {
    max-width: 340px;
    width: 338px;
    background-size: contain;                    
    background-repeat:   no-repeat;
    /* background-position: center center;  */
    background-color: red;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.movie-page__poster:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.movie-page__info-container {
    width: 338px;
    /* background-color: black; */
    background: rgb(27, 27, 27, 0.6);
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.fa-plus-circle {
    /* font-size: 2vw; */
    font-size: 32px;
    top: 100px;
    transition: 0.2s ease;
}

.fa-plus-circle:hover {
    font-size: 36px;
    z-index: 1;
    /* top: 0; */
}

/* .fa-plus-circle::before,
.fa-plus-circle::after {
    position: absolute;
    content: attr(data-tooltip);
    height: 100px;
    width: 100px;
    background: red;
} */

.movie-page__add-to-watchlist {
    font-size: 16px;
    line-height: 10px;
    font-weight: 500;
    margin-left: 10px;
}

.movie-page__trailer-container {
    /* width: 100%; */
    width: 854px;
}

.movie-page__trailer {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #232323;
}

.movie-page__trailer-right-col {
    /* width: 100%; */
    max-width: 262px;
    background-color: #946a2e;
}

.movie-page__content-container {
    width: 100%;
    min-width: 500px;
    font-size: 16px;
    /* display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto; */
}

/* .movie-page__movie-photo {
    min-width: 60px;
    width: 100px;
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
} */

.movie-page__cast-container {
    width: 100%;
    /* background-color: blueviolet; */
}

.movie-page__actor-container {
    display: flex;
    font-size: 13px;
    height: 74px;
    /* border: 1px solid #31454F; */
    border-radius: 2px;
    margin-bottom: 10px;
    align-items: center;
    background-color: #151515;
}

.movie-page__actor-container:nth-child(2n+0) {
    background-color: #0c0c0c;
    /* background-color: #211e1e; */
}

.movie-page__actor-thumbnail {
    object-fit: cover;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.movie-page__actor-name {
    width: 23%;
    margin-right: 20px;
    /* background-color: bisque; */
}

.movie-page__character {
    width: 40%;
    /* background-color: brown; */
}

.review-form__container {
    width: 50%;
    /* height: 500px; */
}

.reviews__container {
    width: 100%;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-family: 'sans-serif';
    margin-bottom: 30px;
    column-gap: 10px;
    row-gap: 10px;
}

.review {
    height: 170px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.3px;
    /* background-color: #151515; */
    /* background-color: cadetblue; */
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    color: #ada9a9;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(90deg, #151515 0%, #1e1e1e 100%);
}


.review__name-stars-container {
    display: flex;
    margin-bottom: 10px;
}

.review__content {
    color: white;
    flex-grow: 1;
}

.review__name {
    width: 100px;
    /* height: 29px; */
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-right: 10px;
    margin-top: auto;
}

.review__stars-read-only {
    width: 135px;
    height: 29px;
    margin:0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.review__stars-read-only input{
    display: none;
}

.review__stars label{
    font-size: 16px;
    color: #444;
    margin-right: 2px;
    transition: all 0.3s;
}    

.review__stars-read-only input:not(checked) ~ label:hover,
.review__stars-read-only input:not(checked) ~ label:hover ~ label{
    background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.review__stars-read-only input:checked ~ label{
    background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review__date {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
    
}
/* .movie-page__plot {

} */

/* .movie-page__starring {

} */

/* .movie-page__movie-photos {

} */


/* .movie-page__left-col {
    background-color: blanchedalmond;
}

.movie-page__right-col {
    background-color: cadetblue;
} */