.review-form {
    margin-top: 20px;
}

.review-form__label-rating-container {
    display: flex;
    margin-bottom: 10px;
}

.review-form__label {
    height: 29px;
    font-size: 22px;
    font-weight: 500;
    /* background-color: aqua; */
    padding-top: 3px;
}

.review-form textarea {
    height: 170px;
    padding: 10px 10px;
    color: white;
    background-color: #151515;
}

.review__stars {
    width: 170px;
    height: 29px;
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.review__stars input{
    display: none;
}

.review__stars label{
    font-size: 22px;
    /* color: #444; */
    background: -webkit-linear-gradient(90deg, #444 0%, #262630 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 2px;
    transition: all 0.3s;
    cursor: pointer;
}   

/* .review__stars input:not(checked) ~ label:hover{
    font-size: 22px;
    color: #fd4;
} */

.review__stars input:not(checked) ~ label:hover,
.review__stars input:not(checked) ~ label:hover ~ label{
    background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    /* color: #fd4; */
}

.review__stars input:checked ~ label{
    background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #fd4; */
}

.review-form__button {
    background-color: #E50914;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
    margin-top: 8px;
}